@page "/allitems"


<h3>Items Overview</h3>


@if (this.OverviewTable == null || this.OverviewTable.Headings == null || this.OverviewTable.Items == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <button @onclick="@NavigateToListGeneration" class="btn btn-outline-primary shoppingListButton">Generate shopping list</button>

    <table class="itemsOverviewTable">
        <thead>
            <tr>
                @foreach (var item in this.OverviewTable.Headings)
                {
                    <th style="background-image: url(@item.HeadingRule.ImageUrl)" @onclick="(x=> Sort(item.Id))">@item.ThTitle</th>
                }
                <th></th>
            </tr>
        </thead>

        <tbody>

            @foreach (var item in this.OverviewTable.Items)
            {
                <tr>
                    <td>
                        @item.Name
                    </td>
                    <td>
                        @item.ReplenishmentPeriod
                    </td>
                    <td>
                        @if (item.LastReplenishmentQuantity.HasValue)
                        {
                            @item.LastReplenishmentQuantity.Value
                        }
                        else
                        {
                            @:-
                        }
                    </td>
                    <td>
                        @if (item.LastReplenishmentDate.HasValue)
                        {
                            @item.LastReplenishmentDate.Value.ToString("d.MM.yyyy")
                        }
                        else
                        {
                            @:-
                        }
                    </td>
                    <td>
                        @item.NextReplenishmentDate.ToString("d.MM.yyyy")
                    </td>
                    <td>
                        <button @onclick="(x=> QuickEditItem(item.Id))" class="btn btn-dark table-btn quick-add-btn">Edit</button>
                    </td>
                    <td>
                        <button @onclick="(x=> DeleteItemQuestion(item.Id))" class="btn btn-dark table-btn quick-add-btn">Delete</button>
                    </td>
                </tr>
            }

        </tbody>
    </table>

    <button @onclick="QuickAddItem" class="btn btn-dark table-btn quick-add-btn">Quick add</button>

    <AddItemDialog @ref="AddItemDialog" CloseEventCallback="@AddItemDialog_OnDialogClose"></AddItemDialog>

    <EditItemDialog @ref="EditItemDialog" CloseEventCallback="@EditItemDialog_OnDialogClose"></EditItemDialog>

    <DeleteItemDialog @ref="DeleteItemDialog" CloseEventCallback="@DeleteItemDialog_OnDialogClose"></DeleteItemDialog>
}



