@page "/allitems"


<h3>ItemsOverview</h3>

@if (this.Response == null)
{
    <p><em>Loading...</em></p>
}
else
{
    if (this.Message != null)
    {
        <div class="responseMessage successMessage">@this.Message</div>
    }

    <table class="itemsOverviewTable">
        <thead>
            <tr>
                <th>Name</th>
                <th>Replenishment Period</th>
                <th></th>
            </tr>
        </thead>

        <tbody>

            @foreach (var item in this.Response.Items)
            {
                <tr>
                    <td>
                        @item.Name
                    </td>
                    <td>
                        @item.ReplenishmentPeriod
                    </td>
                    <td>
                        <a href="@($"itemedit/{item.Id}")">
                            Edit
                        </a>

                        <button @onclick="QuickEditItem" class="btn btn-dark table-btn quick-add-btn">Quick edit</button>

                        <EditItemDialog @ref="EditItemDialog" CloseEventCallback="@EditItemDialog_OnDialogClose"></EditItemDialog>
                    </td>
                </tr>
            }

        </tbody>
    </table>
}

<button @onclick="QuickAddItem" class="btn btn-dark table-btn quick-add-btn">Quick add</button>

<AddItemDialog @ref="AddItemDialog" CloseEventCallback="@AddItemDialog_OnDialogClose"></AddItemDialog>


