@page "/allitems"


<h3>ItemsOverview</h3>


@if (this.Response == null)
{
    <p><em>Loading...</em></p>
}
else
{

    if (this.Message != null)
    {
        <div class="responseMessage successMessage">@this.Message</div>
    }

    <div class="overviewButtons">
        <button @onclick="QuickAddItem" class="btn btn-dark table-btn quick-add-btn">Quick add</button>
        <button @onclick="@NavigateToListGeneration" class="btn btn-outline-primary shoppingListButton">Generate shopping list</button>
    </div>

    <table class="itemsOverviewTable">
        <thead>
            <tr>
                <th>Name</th>
                <th>Replenishment Period (in weeks)</th>
                <th></th>
            </tr>
        </thead>

        <tbody>

            @foreach (var item in this.Response.Items)
            {
                <tr>
                    <td>
                        @item.Name
                    </td>
                    <td>
                        @item.ReplenishmentPeriod
                    </td>
                    <td>
                        <button @onclick="(x=> QuickEditItem(item.Id))" class="btn btn-dark table-btn quick-add-btn">Edit</button>
                    </td>
                    <td>
                        <button @onclick="(x=> DeleteItemQuestion(item.Id))" class="btn btn-dark table-btn quick-add-btn">Delete</button>
                    </td>
                </tr>
            }

        </tbody>
    </table>
}

<AddItemDialog @ref="AddItemDialog" CloseEventCallback="@AddItemDialog_OnDialogClose"></AddItemDialog>

<EditItemDialog @ref="EditItemDialog" CloseEventCallback="@EditItemDialog_OnDialogClose"></EditItemDialog>

<DeleteItemDialog @ref="DeleteItemDialog" CloseEventCallback="@DeleteItemDialog_OnDialogClose"></DeleteItemDialog>


