@page "/shoppinglist"


@if (this.ReplenishmentItems == null)
{
    <p><em>Loading...</em></p>
}
else
{

    <EditForm Model="@this.ReplenishmentItems" OnValidSubmit="@ReplenishAllItems">

        <div class="normalShoppingDay">
            Normal shopping day:
            <InputSelect class="appInputSelect normalShoppingDaySelect" @bind-Value="this.UsualShoppingDay">
                @foreach (var value in Enum.GetValues(typeof(DayOfWeek)))
                    {
                    <option value="@value">@value</option>
                    }
            </InputSelect>
        </div>


        @*<div>
                Next replenishment date:
                <InputDate @bind-Value="@this.FirstReplenishmentDate"></InputDate>
            </div>

            <div>
                Date after next replenishment date:
                <InputDate @bind-Value="@this.SecondReplenishmentDate"></InputDate>
            </div>*@


        <DataAnnotationsValidator />
        <ValidationSummary />

        <table class="itemsOverviewTable">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Will run out of supplies on</th>
                    <th>Quantity to buy</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>

                @for (int m = 0; m < this.ReplenishmentItems.Count; m++)
                {

                    var replenishmentItem = this.ReplenishmentItems[m];

                    <tr>

                        <td>@replenishmentItem.Name</td>
                        <td>@replenishmentItem.NextReplenishmentDate.Date.ToString("d.MM.yyyy")</td>
                        <td>
                            <InputSelect class="appInputSelect tableInputSelect" @bind-Value="@replenishmentItem.Quantity">

                                @for (int i = 1; i <= 20; i++)
                                        {
                                    <option value="@i">@i</option>
                                        }

                            </InputSelect>
                        </td>
                        <td>
                            <a class="btn btn-outline-primary" @onclick="@(x=> ReplenishItem(replenishmentItem.ItemId))">Replenish</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

        <button type="submit" class="btn btn-primary edit-btn">Replenish all</button>

    </EditForm>

}
