@page "/shoppinglist"


@if (this.ReplenishmentItems == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <EditForm Model="@this.ReplenishmentItems" OnValidSubmit="@HandleValidSubmit">

        <DataAnnotationsValidator />
        <ValidationSummary />


        <table class="itemsOverviewTable">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Replenishment quantity</th>
                </tr>
            </thead>

            <tbody>

                @foreach (var item in this.ReplenishmentItems)
                {
                    <tr>

                        <td> @item.Name</td>
                        <td>
                            <InputSelect class="tableInputSelect col-sm-2" @bind-Value="@item.Quantity">

                                @for (int i = 1; i <= 20; i++)
                                        {
                                    @if (i == 1)
                                            {
                                        <option value="@i" selected="selected">@i</option>
                                            }
                                            else
                                            {
                                        <option value="@i">@i</option>
                                            }
                                        }

                            </InputSelect>
                        </td>

                    </tr>
                }

            </tbody>
        </table>
        
        <button type="submit" class="btn btn-primary edit-btn">Replenish all</button>
    
    </EditForm>

}
