@page "/shoppinglist"


@if (this.ReplenishmentItems == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <EditForm Model="@this.ReplenishmentItems" OnValidSubmit="@HandleValidSubmit">

        <DataAnnotationsValidator />
        <ValidationSummary />

        <table class="itemsOverviewTable">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Replenishment quantity</th>
                </tr>
            </thead>
            <tbody>

                @for (int m = 0; m < this.ReplenishmentItems.Count; m++)
                {

                    var replenishmentItem = this.ReplenishmentItems[m];

                    <tr>

                        <td>@replenishmentItem.Name</td>

                        <td>
                            <InputSelect class="tableInputSelect col-sm-2" @bind-Value="@replenishmentItem.Quantity">

                                @for (int i = 1; i <= 20; i++)
                                {
                                    <option value="@i">@i</option>
                                }

                            </InputSelect>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

        <button type="submit" class="btn btn-primary edit-btn">Replenish all</button>

    </EditForm>

}
