@page "/shoppinglist"


@if (this.ReplenishmentItems == null)
{
    <p><em>Loading...</em></p>
}
else
{

    <div class="normalShoppingDay">
        <div>
            Normal shopping day:
        </div>
        <select class="appInputControl normalShoppingDaySelect" @onchange="RegenerateListFromDayOfWeek">

            @foreach (var value in Enum.GetValues(typeof(DayOfWeek)))
            {
                <option value="@value">@value</option>
            }
        </select>
    </div>


    <div class="customDatesWrapper">
        <div>
            Next replenishment date:

            @{
                var firstReplenishmentDate = this.FirstReplenishmentDate.ToString("yyyy-MM-dd");
                var secondReplenishmentDate = this.SecondReplenishmentDate.ToString("yyyy-MM-dd");
            }

            <input type="date" class="appInputControl" value=@firstReplenishmentDate @onchange=@ChangeFirstReplenishmentDateValue max="@this.SecondReplenishmentDate.ToString("yyyy-MM-dd")" />
        </div>
        <div>
            Date after next replenishment date:
            <input type="date" class="appInputControl" value=@secondReplenishmentDate @onchange=@ChangeSecondReplenishmentDateValue min="@this.FirstReplenishmentDate.ToString("yyyy-MM-dd")" />
        </div>
    </div>


    <div class="shoppingListHeadline">Your shopping list for @this.FirstReplenishmentDate.ToString("d.MM.yyyy") is:</div>


    <EditForm Model="@this.ReplenishmentItems" OnValidSubmit="@ReplenishAllItems">



        <DataAnnotationsValidator />
        <ValidationSummary />

        <table class="itemsOverviewTable">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Will run out of supplies on</th>
                    <th>Quantity to buy</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>

                @for (int m = 0; m < this.ReplenishmentItems.Count; m++)
                {

                    var replenishmentItem = this.ReplenishmentItems[m];

                    <tr>

                        <td class="@replenishmentItem.ReplenishmentSignalClass">
                            @replenishmentItem.Name
                        </td>
                        <td class="@replenishmentItem.ReplenishmentSignalClass">
                            @replenishmentItem.NextReplenishmentDate.Date.ToString("d.MM.yyyy")
                        </td>
                        <td>
                            <InputSelect class="appInputControl tableInputSelect" @bind-Value="@replenishmentItem.Quantity">

                                @for (int i = 1; i <= 20; i++)
                                        {
                                    <option value="@i">@i</option>
                                        }

                            </InputSelect>
                        </td>
                        <td>
                            <InputDate @bind-Value="@replenishmentItem.ReplenishmentDate"></InputDate>
                        </td>
                        <td>
                            <a class="btn btn-outline-primary" @onclick="@(x=> ReplenishItem(replenishmentItem.ItemId))">Replenish</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

        <button type="submit" class="btn btn-primary edit-btn">Replenish all</button>

    </EditForm>

}
